body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width:98%;
}
table,th,td{
    border: 1px solid #999999;
    border-collapse: collapse;
}
table tr th{
    background-color: #333333;
    color: white;
}